body {
    width: 100%;
    font-family: 'rubikregular';
    color: #39447a;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    overflow-x: hidden !important;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}


.btn,
button {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 0px;

}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.row-centered {
    text-align: center;
    display: block;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
}
header .navbar {
    padding: 20px 0px;
}

header .navbar-toggle {
    display: none;
}

header .navbar-expand-lg .navbar-nav li a.nav-link {
    font-family: 'poppinsregular';
    font-size: 18px;
    text-transform: capitalize;
    color: #595959;
    padding: 0px 22px;
    line-height: 50px;
}


header ul li:last-child a.nav-link {
    padding-right: 0px !important;
}

header .navbar-expand-lg .navbar-nav {
    margin-top: 5px;
}

header .navbar-expand-lg .navbar-nav li a.login {
    font-family: 'poppinssemibold';
    border-left: 1px solid #d9d9d9;
    padding-left: 44px;
    margin-left: 22px;
}

header .navbar-expand-lg .navbar-nav li:last-child a {
    background: #00b0f5;
    width: 165px;
    height: 47px;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 0px;
    font-size: 17px;
    margin-left: 22px;
}

.banner {
    background: #ededed;
    padding: 85px 0px;
    width: 100%;
}

.inner {
    padding: 0px 150px;
}

.banner h2 {
    font-family: 'poppinssemibold';
    font-size: 50px;
    color: #3c3c3c;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 71px;
}

p {
    color: #7c7c7c;
    font-family: 'poppinsregular';
    font-size: 16px;
    line-height: 30px;
    margin-bottom:0px;
}

.banner p {
    margin-bottom: 68px;
}

.banner .btn {
    height: 70px;
    width: 310px;
    line-height: 70px;
    border-radius: 50px;
    background-color: #00b0f5;
    font-size: 22px;
    color: #fff;
    font-family: 'poppinsregular';
    text-transform: capitalize;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
}
h4{
    text-transform: capitalize;
    font-size: 30px;
    color: #25292d;
    font-family: 'poppinsregular';
      
}
.cut_the_queue {
    background: #fff;
      padding: 100px 0px;
}
.cut_the_queue  h4{
    text-align: center;
}
.cut_the_queue .queue_content{
 
    padding-top: 112px;
    
}
.cut_the_queue .queue_content .box{
    background: #fff;
    text-align: center;
    padding: 60px 20px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.cut_the_queue .queue_content .box:hover{
 box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.1);   
}
.cut_the_queue .queue_content .box h6{
    font-size: 18px;
    font-family: 'poppinsmedium';
    color: #424242;
    margin-top: 40px;
    line-height: 25px;
}
.cut_the_queue .queue_content .box figure{
    min-height: 81px;
}
.cut_the_queue .queue_content .box p{
    font-size: 16px;
    color: #6f7070;
}
.product{
      background: #f9fafc;
      padding: 100px 0px;
}
.product .box{
    padding: 85px 0px;
     -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.product .box h6{
   font-family: 'poppinsmedium';
    font-size: 18px;
    color: #383838;
    line-height: 23px;
    text-transform: capitalize;
    text-align: center;
}
.product .box figure{
    text-align: center;
    min-height:77px;
}
.product .box.one{
    border-right: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}
.product .box.one.last,
.product .box.two.last{
    border-right:0px;
}
.product .box.two{
    border-right: 1px solid #cbcbcb;
}
.product .inner{
    padding-top: 80px;
}
.product .inner .row .col-sm-12{
    padding:0px;
}
.product .box:hover{
     box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.19);
    background:#fff;
    border-color:#fff;
}
.testimonials{
    padding:100px 0px;
}
.testimonials h4{
    text-align:center;
}
.testimonials h6{
    font-size:24px;
    color:#aaabaf;
    text-align:center;
    font-family: 'poppinsregular';
}
.testimonials .inner{
    padding:0px 230px;
}
.testimonials .inner .testimonial_wrapper{
    padding-top:100px;
}
.testimonials .inner .slide {
    position:relative;
}
.testimonials .inner .slide  .content{
    border-radius: 10px;
    text-align:center;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.12);
    padding:80px 65px 120px 65px;
    position:relative;
    z-index:1;
}
.testimonials .inner .slide  .content p{
    font-family: 'poppinslight';
}

.testimonials .inner .testimonial_wrapper .slide span {
  font-size: 72px;
  color: rgb(0, 176, 245);
  font-weight: bold;
  position: absolute;
  left: 0;
  top: -52px;
}
.testimonials .inner .testimonial_wrapper .slide .content figure{
      width: 94px;
    height: 95px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -34.5px
}
.testimonials .inner .testimonial_wrapper  .slick-list{
    overflow:visible;
}
.testimonials .inner .testimonial_wrapper .author{
    text-align:center;
    margin-top:50px;
}
.testimonials .inner .testimonial_wrapper .author label{
   display: inline-block;
    color: #a1a1a1;
    font-size: 16px;
    margin-bottom: 0px;
    vertical-align: middle;;
    font-family: 'poppinsregular';
}
.testimonials .inner .testimonial_wrapper .author ul{
    list-style:none;
    padding-left:0px;
    display:inline-block;
    margin-bottom:5px;
}
.testimonials .inner .testimonial_wrapper .author ul li{
    display:inline-block;
    color:#fdba01;
    font-size:13px;
}
.testimonials .inner .testimonial_wrapper .author h6{
   font-family: 'poppinsregular';
    font-size:18px;
    color:#000;
}
.testimonials .inner .testimonial_wrapper .slick-dots{
    padding-left:0px;
    text-align:center;
    margin-top:35px;
}
.testimonials .inner .testimonial_wrapper .slick-dots li{
    display:inline-block;
    margin-left:7px;
}
.testimonials .inner .testimonial_wrapper .slick-dots li:first-child{
    margin-left:0px;
}

.testimonials .inner .testimonial_wrapper .slick-dots li button {
  width: 12px;
    height: 12px;
    background: #c2c2c2;
    box-shadow: none;
    border: 0px;
    border-radius: 50%;
    font-size:0;
}
.testimonials .inner .testimonial_wrapper .slick-dots li button:focus{
    outline:none;
}

.testimonials .inner .testimonial_wrapper .slick-dots li.slick-active button{
    background:#47bff4;
}
.contact{
    background: url(../images/contact-banner.png);
    background-size: contain;
    width: 100%;
    background-position: center bottom;
    height: auto;
    padding: 100px 0px;
    background-repeat: no-repeat;
}
.contact .inner{
    padding:0px 230px;
}
.contact .inner .col{
    margin-top:30%;
}

.contact .inner .col p{
    font-family: 'poppinslight';
    font-size:16px;
    color:#929292;
}
.contact .inner .col h2{
    color:#25292d;
    font-size:30px;
     font-family: 'poppinsregular';
}
.contact .inner .col ul{
    padding-left:0px;
    margin-top:45px;
}
.contact .inner .col ul li{
    list-style:none;
    display:inline-block;
}
footer{
    background:#26292e;
    padding-top:36px;
    padding-bottom:80px;
}
footer .features{
    text-align:center;
    margin-top:10px;
    margin-bottom:30px;
}
footer .features li{
    display:inline-block;
    margin-left:35px;
}

footer .social-icons li{
    display:inline-block;
    margin-left:28px;
}
footer .features li:first-child{
    margin-left:0px;
}
footer .social-icons li:first-child{
    margin-left:0px;
}
footer .features li a{
     font-family: 'poppinsregular';
    font-size:18px;
    color:#fff;
}
footer .social-icons{
    float:right;
     margin-top:10px;
}
footer .social-icons li a{
    color:#fff;
}
footer .content{
    text-align:center;
    border-top:1px solid #3f3f3f;
    padding-top:40px;
}
footer .content label a{
    color: #474c50;
}
footer .content label a:hover{
    color: #fff;
}
footer .content label{
    text-transform:uppercase;
    font-size:18px;
    font-family: 'poppinsregular';
    color:#474c50;
}
footer .content label:last-child{
    margin-left:45px;
}

.sidenav{
    display:none;
}

.privacy-policy{

}
.privacy-policy p{
    text-align: justify;
}
.privacy-policy h3 {
    color: #555555;
    font-family: 'poppinsregular';
    margin-top: 40px;
}
.privacy-policy h4{
    text-align: left;
    color: #555555;
    font-family: 'poppinsregular';
    margin-top: 20px;
    font-size: 20px;
}

.terms-and-condition{

}
.terms-and-condition p{
      text-align: justify;
}
.terms-and-condition h3{
    color: #555555;
    font-family: 'poppinsregular';
    margin-top: 40px;
}
.terms-and-condition h4{
    text-align: left;
    color: #555555;
    font-family: 'poppinsregular';
    margin-top: 20px;
    font-size: 20px;
}

.button{
    text-align: center;
}


.btn{
    height: 40px;
    width: 120px;
    line-height: 40px;
    border-radius: 20px;
    background-color: #00b0f5;
    font-size: 15px;
    color: #fff;
    font-family: 'poppinsregular';
    text-transform: capitalize;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
}
h4{
    text-transform: capitalize;
    font-size: 20px;
    color: #25292d;
    font-family: 'poppinsregular';
      
}

.btn:hover{
    background-color: #D5D7D7;
    color: #535454;
}